<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TFA Express Sample</title>

    <script src="https://kit.fontawesome.com/4a679d8ec0.js" crossorigin="anonymous"></script>

    <link href="css/mdb.min.css" rel="stylesheet" type="text/css" />
    <link href="sass/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <nav class="navbar navbar-light bg-dark shadow-0 pt-3">
        <div class="container">
            <a href="/" class="navbar-brand text-white fw-bold">TFA Express</a>
        </div>
    </nav>
    <div class="container py-5">
        <div class="d-flex justify-content-center align-items-center">
            <div class="col-md-4">
                <div class="card-body border border-dark rounded-4">
                    <h3 class="text-dark">Authenticate with Email</h3>
                    <hr class="border border-dark" />
                    <form action="/authorize" method="post">
                        <label class="form-label" for="email">Email</label>
                        <input class="form-control" id="email" placeholder="Email" name="email" />
                        <br />
                        <label class="form-label" for="password">Password</label>
                        <input class="form-control" id="password" type="password" placeholder="Password" name="password" />
                        <br />
                        <div class="row">
                            <div class="col">
                                <button type="submit" name="way" value="login" class="w-100 btn btn-lg btn-dark fw-bold">Login</button>
                            </div>
                            <div class="col">
                                <button type="submit" name="way" value="register" class="w-100 btn btn-lg btn-dark fw-bold">Register</button>
                            </div>
                        </div>
                        <br />
                        <div class="d-flex justify-content-center align-items-center">
                            <hr class="border border-dark w-100 me-2" />
                            <span>Or</span>
                            <hr class="border border-dark w-100 ms-2" />
                        </div>
                        <br />
                        <button data-mdb-toggle="modal" data-mdb-target="#exampleModal" type="button" class="w-100 btn btn-lg btn-primary fw-bold"><i class="fa fa-paper-plane"></i> Authenticate with Telegram</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/mdb.min.js"></script>
</body>
</html>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title fw-bold" id="exampleModalLabel">Authorization with <span class="text-primary">Telegram</span></h5>
          <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
        </div>
        <form>
            <div class="modal-body">
                <label class="form-label" for="token">Enter your token</label>
                <input class="form-control" name="utoken" id="token" type="password" placeholder="Token" />
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-primary fw-bold">Authorize</button>
            </div>
        </form>
      </div>
    </div>
  </div>