<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TFA Express Sample</title>

    <script src="https://kit.fontawesome.com/4a679d8ec0.js" crossorigin="anonymous"></script>

    <link href="css/mdb.min.css" rel="stylesheet" type="text/css" />
    <link href="sass/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <nav class="navbar navbar-light bg-dark shadow-0 pt-3">
        <div class="container">
            <a href="/" class="navbar-brand text-white fw-bold">TFA Express</a>
        </div>
    </nav>
    <div class="container py-5">
        <div class="d-flex justify-content-center align-items-center">
            <div class="col-md-4">
                <div class="card-body border border-dark rounded-4">
                    <h3 class="text-dark">Continue to create</h3>
                    <hr class="border border-dark" />
                    <p>You had a <span class="text-success">successful authentication</span>. But for the first time you have to enter an email and a password as a backup.</p>
                    <form action="/continue" method="post">
                        <label class="form-label" for="email">Email</label>
                        <input class="form-control" id="email" placeholder="Email" name="email" />
                        <br />
                        <label class="form-label" for="password">Password</label>
                        <input class="form-control" id="password" type="password" placeholder="Password" name="password" />
                        <br />
                        <button type="submit" name="uid" value="<%= uid %>" class="w-100 btn btn-lg btn-dark fw-bold">Create account</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/mdb.min.js"></script>
</body>
</html>